<html>
  <head>
    <script src="/static/index.js"></script>
  </head>
  <body>
    <h1>Shopping list</h1>
    <ul>
      {{ range . }}
        {{ if .Done }}
          <li class="done">{{.Name}}</li>
        {{ else }}
          <li>{{.Name}}</li>
        {{ end }}
      {{ end }}
    </ul>
  </body>
</html>
